@use '../../assets/styles/abstract' as a;

.button {
  display: block;
  width: 100%;
  padding: 1.15rem 2rem;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.15s;
  
  &--navy {
    color: white;
    background-color: #242742;
  }
}